/*** dylanaraps CSS ***/
.large {
 display:block;
 margin:0 auto;
 max-width:90%
}
*,*::before,*::after {
 box-sizing:border-box;
 margin:0;
 padding:0
}
body,html {
 font-family:TimesNewRoman,"Times New Roman",Times,Georgia,serif;
 max-width:100%;
 overflow-x:hidden
}
html {
 overflow-y:scroll
}
main,nav,footer {
 display:block;
 margin:0 auto;
 max-width:600px;
 width:98%
}
main,main img,main picture,nav,nav img,nav picture,footer,footer img,footer picture {
 margin-bottom:0;
 width:100%
}
footer {
 margin-top:25px
}
main {
 display:flex;
 flex-direction:column;
 min-height:50vh;
 width:95%
}
.main-content {
 flex:1
}
.fade {
 -webkit-mask-image:-webkit-linear-gradient(top, #000, transparent)
}
blockquote {
 background:#f9f9f9;
 border-left:10px solid #eee;
 margin-bottom:25px;
 padding:.5em 10px;
 quotes:"“" "”" "‘" "’"
}
blockquote::before {
 color:#ccc;
 content:open-quote;
 font-size:4em;
 line-height:.1em;
 margin-right:.25em;
 vertical-align:-.4em
}
blockquote p {
 display:inline
}
p,li,code:not(.highlighter-rouge),.highlight,img {
 margin-bottom:30px
}
iframe {
 margin-top:30px
}
p,li,.next-prev,label,button {
 color:rgba(0,0,0,0.75);
 font-size:calc(16px + 1vmin);
 line-height:1.5
}
p .next,li .next,.next-prev .next,label .next,button .next {
 margin-left:auto
}
p code,li code,.next-prev code,label code,button code {
 font-size:16px
}
li {
 list-style:none;
 margin:0
}
h1,h2,h3 {
 font-family:Baskerville,"Baskerville Old Face","Libre Baskerville","Hoefler Text","Goudy Old Style","Garamond","Times New Roman",serif;
 font-weight:1000
}
.j {
 display:inline-block;
 margin:0 22px 15px 15px;
 transform:rotate(135deg) scale(2.3)
}
.first::after {
 content:'\A'
}
h1 {
 border:0;
 display:block;
 font-size:calc(3.8em + 1vmin);
 margin:calc(70px - 1vmin) 0 12px;
 text-align:center
}
.me {
 text-decoration:none
}
h2 {
 font-size:calc(2.6em + 1vmin);
 margin:50px 0 1.5em;
 text-align:center
}
h3 {
 font-size:calc(1.5em + 1vmin);
 margin:50px 0 25px
}
code {
 background-color:#eee;
 display:inline-block;
 font-family:monospace, monospace;
 padding:5px;
 white-space:pre-wrap;
 word-wrap:break-word
}
code:not(.highlighter-rouge) {
 padding:15px;
 width:100%
}
picture {
 display:block;
 margin:40px 0
}
.pixel {
 image-rendering:pixelated;
 image-rendering:-moz-crisp-edges;
 image-rendering:crisp-edges
}
img {
 border:0;
 display:block;
 margin-bottom:.5em;
 min-height:1px;
 opacity:0;
 transition:opacity .3s
}
img:not(.original) {
 width:100%
}
img[src] {
 opacity:1
}
a {
 color:#000;
 padding-bottom:2px;
 transition:.2s
}
.right {
 float:right
}
.social {
 display:block;
 margin:0 auto 50px;
 text-align:center;
 width:80%
}
.social li {
 display:inline-block;
 margin-bottom:10px
}
.social li:not(:last-child) {
 margin-right:calc(.65em + .35vmin)
}
.social svg {
 fill:#42bf91;
 margin:0 5px 2px 0;
 opacity:.6;
 vertical-align:middle;
 width:20px
}
.social-icon {
 display:inline-block;
 fill:#42bf91;
 margin:0 02px 5px;
 opacity:.6;
 vertical-align:middle;
 width:20px
}
nav {
 font-style:italic;
 margin-bottom:60px
}
nav .active,nav a:hover {
 border-bottom:2px solid #ed7171;
 padding-bottom:4px
}
nav ul {
 list-style:none;
 max-width:600px;
 text-align:center
}
nav li {
 display:inline-block;
 margin:20px calc(.65em + .35vmin) 0 0
}
nav li:last-child {
 margin-right:0
}
nav a {
 border:0;
 font-size:calc(.75em + 1vmin);
 text-decoration:none
}
.blog a {
 text-decoration:none
}
.blog a:hover {
 border-bottom:2px solid #666;
 padding-bottom:4px
}
.blog .post {
 font-size:calc(.9em + 1vmin)
}
.blog .date {
 display:block;
 font-size:calc(0.75em + 1vmin)
}
.blog-posts {
 margin:-5px 0 20px
}
.blog-posts li {
 border-radius:4px;
 border:1px solid #ccc;
 display:inline-block;
 font-size:calc(.75em + 1vmin);
 margin-right:10px;
 min-width:20%;
 padding:3px 5px;
 text-align:center
}
.next-prev {
 align-content:stretch;
 align-items:center;
 display:flex;
 flex-direction:row;
 flex-wrap:nowrap;
 justify-content:space-between
}
.next-prev {
 margin:60px 0 0
}
input,select,textarea {
 -moz-appearance:none;
 -webkit-appearance:none;
 appearance:none;
 border-radius:none;
 border:1px solid #ccc;
 box-sizing:border-box;
 display:block;
 font-family:TimesNewRoman,"Times New Roman",Times,Georgia,serif;
 font-size:calc(16px + 1vmin);
 height:7vh;
 outline:none;
 padding:10px;
 width:100%
}
textarea {
 height:20vh
}
button {
 background:#fff;
 border:1px solid #ccc;
 font-family:TimesNewRoman,"Times New Roman",Times,Georgia,serif;
 height:7vh;
 transition:.2s;
 width:100%
}
button:hover {
 background:#000;
 border-color:#000;
 color:#fff;
 cursor:pointer
}
.highlight .hll {
 background-color:#ffc
}
.highlight {
 background:#f8f8f8
}
.highlight .c {
 color:#408080
}
.highlight .err {
 border:1px solid red
}
.highlight .k {
 color:green
}
.highlight .o {
 color:#666
}
.highlight .ch {
 color:#408080
}
.highlight .cm {
 color:#408080
}
.highlight .cp {
 color:#BC7A00
}
.highlight .cpf {
 color:#408080
}
.highlight .c1 {
 color:#408080
}
.highlight .cs {
 color:#408080
}
.highlight .gd {
 color:#A00000
}
.highlight .gr {
 color:red
}
.highlight .gh {
 color:navy
}
.highlight .gi {
 color:#00A000
}
.highlight .go {
 color:#888
}
.highlight .gp {
 color:navy
}
.highlight .gu {
 color:purple
}
.highlight .gt {
 color:#04d
}
.highlight .kc {
 color:green
}
.highlight .kd {
 color:green
}
.highlight .kn {
 color:green
}
.highlight .kp {
 color:green
}
.highlight .kr {
 color:green
}
.highlight .kt {
 color:#B00040
}
.highlight .m {
 color:#666
}
.highlight .s {
 color:#BA2121
}
.highlight .na {
 color:#7D9029
}
.highlight .nb {
 color:green
}
.highlight .nc {
 color:blue
}
.highlight .no {
 color:#800
}
.highlight .nd {
 color:#a2f
}
.highlight .ni {
 color:#999
}
.highlight .ne {
 color:#D2413A
}
.highlight .nf {
 color:blue
}
.highlight .nl {
 color:#A0A000
}
.highlight .nn {
 color:blue
}
.highlight .nt {
 color:green
}
.highlight .nv {
 color:#19177C
}
.highlight .ow {
 color:#a2f
}
.highlight .w {
 color:#bbb
}
.highlight .mb {
 color:#666
}
.highlight .mf {
 color:#666
}
.highlight .mh {
 color:#666
}
.highlight .mi {
 color:#666
}
.highlight .mo {
 color:#666
}
.highlight .sa {
 color:#BA2121
}
.highlight .sb {
 color:#BA2121
}
.highlight .sc {
 color:#BA2121
}
.highlight .dl {
 color:#BA2121
}
.highlight .sd {
 color:#BA2121
}
.highlight .s2 {
 color:#BA2121
}
.highlight .se {
 color:#b62
}
.highlight .sh {
 color:#BA2121
}
.highlight .si {
 color:#b68
}
.highlight .sx {
 color:green
}
.highlight .sr {
 color:#b68
}
.highlight .s1 {
 color:#BA2121
}
.highlight .ss {
 color:#19177C
}
.highlight .bp {
 color:green
}
.highlight .fm {
 color:blue
}
.highlight .vc {
 color:#19177C
}
.highlight .vg {
 color:#19177C
}
.highlight .vi {
 color:#19177C
}
.highlight .vm {
 color:#19177C
}
.highlight .il {
 color:#666
}
@media only screen and (max-width: 600px) {
 .right,.prev,.next {
  float:none
 }
 .prev span,.next span {
  display:none
 }
 .prev::after {
  content:'« Prev'
 }
 .next::after {
  content:'Next »'
 }
}
.grid {
 align-items:center;
 align-self:center;
 display:grid;
 grid-auto-flow:dense;
 grid-auto-rows:30%;
 grid-gap:1%;
 grid-template-columns:repeat(3, 1fr);
 justify-items:center;
 left:50%;
 margin:50px 0;
 position:relative;
 transform:translateX(-50%);
 width:75vw
}
.grid img {
 margin-bottom:10px;
 max-width:100%
}
@media only screen and (max-width: 600px) {
 .grid {
  grid-template-columns:repeat(auto-fill, 100%);
  width:98vw
 }
}
