---
layout: page
title: Blog
permalink: /blog/
---
<div class="container">
<blockquote>
  <p>A expressão começa aonde o pensamento acaba.</p>
</blockquote>
<hr>
<!-- carrousel -->
<!-- end carrousel -->
</div>

<div class="row card-box">
  {% if site.posts.size == 0 %}
    <article><p>Nenhum post foi criado ainda!</p></article>
  {% else %}
  {% for post in site.posts %}
  <div class="row card">
  <div class="card-thumbnail">

    {% if post.image %}
      <a href="{{ post.url | relative_url }}">
        <img src="{{post.image}}">
      </a>
    {% else %}
      <a href="{{ post.url | relative_url }}">
        <img src="/img/UserWeb_logo.png">
      </a>
    {% endif %}
    
  </div>
  <div class="card-post">
    <a href="{{ post.url | relative_url }}"><h3>{{ post.title }}</h3></a>
    <time><i class="fa fa-calendar"></i>
          {%- assign date_format = site.minima.date_format | default: "%Y %b %-d " -%}
          <span>&nbsp;{{ post.date | date: date_format }}</span>&raquo;<br><br>
    </time>
    <p>
      {{ post.content | strip_html | truncatewords:20}}
    </p>
  </div>
  </div>
  {% endfor %}
  {% endif %}
</div>