---
layout: page
title: Categorias
permalink: /blog/categories/
---
<div class="container">
  <h2 style="color: #2574A8;"><i class="fa fa-bookmark"></i>&nbsp;Categorias:</h2>
  <div id="archives">
  {% for category in site.categories %}
    <div class="archive-group">
      {% capture category_name %}{{ category | first }}{% endcapture %}
      <div id="#{{ category_name | slugize }}"></div>
      <p></p>
      
      <h3 class="category-head" style="color: #2574A8;">
        <i class="fa fa-bookmark"></i>&nbsp;{{ category_name }}</h3>
      <a name="{{ category_name | slugize }}"></a>
      {% for post in site.categories[category_name] %}
      <article class="archive-item">
        <h4><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></h4>
      </article>
      {% endfor %}
    </div>
  {% endfor %}
  </div>
</div>
