---
layout: page
title: Contato
permalink: /contact/
---
<div class="container">
<blockquote>
	<p>Contate-me ou me mande um sinal de fumaça.</p>
</blockquote>
<ul class="social">
	<li>
		<a href="&#104;&#116;&#116;&#112;&#115;&#58;&#47;&#47;&#103;&#105;&#116;&#108;&#97;&#98;&#46;&#99;&#111;&#109;&#47;&#117;&#115;&#101;&#114;&#108;&#97;&#98;">
			<i class="fa fa-2x fa-gitlab hvr-pulse-shrink"></i>
		</a>
	</li>
	<li>
		<a href="mailto: &#117;&#115;&#101;&#114;&#108;&#97;&#98;&#115;&#64;&#112;&#114;&#111;&#116;&#111;&#110;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;">
			<i class=" fa fa-2x fa-envelope hvr-pulse-shrink"></i>
		</a>
	</li>
	<li>
		<a href="&#104;&#116;&#116;&#112;&#115;&#58;&#47;&#47;&#115;&#116;&#101;&#97;&#109;&#99;&#111;&#109;&#109;&#117;&#110;&#105;&#116;&#121;&#46;&#99;&#111;&#109;&#47;&#105;&#100;&#47;&#115;&#116;&#101;&#97;&#109;&#95;&#117;&#115;&#101;&#114;&#110;&#97;&#109;&#101;&#47;">
			<i class="fa fa-2x fa-steam-square hvr-pulse-shrink"></i>
		</a>
	</li>
</ul>
</div>
