---
layout: page
title: Projetos
permalink: /projects/
---
<div class="container">
	<blockquote>
		<p>Tente mover o mundo, o primeiro passo será mover a si mesmo.</p>
	</blockquote>

	{% comment %}
	<div class="code" style="width: 50%; margin-left: 50%;">
		<p class="title">Terminal</p>
		<div class="shell">
			<p class="line"></p>
		</div>
	</div>
	{% endcomment %}

	<article>
		<img src="/img/UserWeb_logo.png" style="float: left; width: 200px; transform: translate(-20px, -30px); border-radius: 50%;">
		<p>Este site pessoal é meu projeto de aprendizado web, 
			que roda inteiramente sem custos de hospedagem ou dominio, 
			e quem sabe apresentar futuros projetos além de também ser um blog.
			saiba mais 
	  <a href="/about/">Sobre</a>.
	  </p> 
	</article>
</div>