---
layout: default
title: Tag
permalink: /blog/tag/
---
{% comment %}
=======================
The following part extracts all the tags from your posts and sort tags, so that you do not need to manually collect your tags to a place.
=======================
{% endcomment %}
{% assign rawtags = "" %}
{% for post in site.posts %}
	{% assign ttags = post.tags | join:'|' | append:'|' %}
	{% assign rawtags = rawtags | append:ttags %}
{% endfor %}
{% assign rawtags = rawtags | split:'|' | sort %}

{% comment %}
=======================
The following part removes dulpicated tags and invalid tags like blank tag.
=======================
{% endcomment %}
{% assign tags = "" %}
{% for tag in rawtags %}
	{% if tag != "" %}
		{% if tags == "" %}
			{% assign tags = tag | split:'|' %}
		{% endif %}
		{% unless tags contains tag %}
			{% assign tags = tags | join:'|' | append:'|' | append:tag | split:'|' %}
		{% endunless %}
	{% endif %}
{% endfor %}

<div class="container">
<!-- show all tags -->
<h2 style="color: #2574A8;"><i class="fa fa-tags"></i>&nbsp;Tags:</h2>
<div class="tags-archives">
<div class="tags-archive-list">

{% comment %}
=======================
The purpose of this snippet is to list all the tags you have in your site.
=======================
{% endcomment %}
{% for tag in tags %}
	<a href="#{{ tag | slugify }}" class="tag"> {{ tag }} </a>
{% endfor %}

</div>
<br><hr><br>
<!-- list all posts related tags -->
{% comment %}
=======================
The purpose of this snippet is to list all your posts posted with a certain tag.
=======================
{% endcomment %}
<div class="tags-archive-section">

{% for tag in tags %}
	<h3 id="{{ tag | slugify }}" style="color: #2574A8; text-transform: uppercase;">
	<i class="fa fa-tag"></i>&nbsp;{{ tag }}</h3>
	 {% for post in site.posts %}
		 {% if post.tags contains tag %}
			 <article class="archive-item">
				 <h4>
					 	<a href="{{ post.url }}">
					 	{{ post.title }}
						 	<small style="float: right;">
					      <i class="fa fa-calendar"></i>&nbsp;
					      {{ post.date | date: "%Y %b %-d " }}
					    </small>
					 	</a>
				 </h4>
			 </article>
		 {% endif %}
	 {% endfor %}
{% endfor %}

</div>
</div>
<!-- end container -->
</div>