<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
	<!-- SEO -->
  <title>
	  {% if page.title %}
	      {{ page.title }}
	    {% else %}
	      {{ site.title }}
	  {% endif %}
  </title>
  <meta name="author" content="{{ site.author }}">
  <meta name="description" content="{{ site.description }}">
  <meta name="keywords" content="{{ site.keywords }} ">
  <!-- end SEO -->
  <link href="/css/hover-min.css" rel="stylesheet" media="all">
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?v=2">
  {% capture styles %}{% include main.css %}{% endcapture %}
  <style>{{styles | scssify}}</style>
</head>