<a id="top"></a>
<header class="main">
	<a class="me" href="{{ site.url }}">
		<h1>User
			<div class="icon-stack">
				<i class="fa fa-cloud icon-stack-1x"></i>
				<i class="fa fa-wikipedia-w icon-stack-1x">eb</i>
			</div>
		</h1>
	</a>
	<nav>
		<ul class="menu">
			<li>
				<a class="inactive hvr-underline-from-center" href="/blog/">Blog</a>
			</li>
			<li>
				<a class="inactive hvr-underline-from-center" href="/art/">Art</a>
			</li>
			<li>
				<a class="inactive hvr-underline-from-center" href="/projects/">Projetos</a>
			</li>
			<li>
				<a class="inactive hvr-underline-from-center" href="/contact/">Contato</a>
			</li>
		</ul>
	</nav>
</header>