@charset "UTF-8";
.large { /*mobile*/
	display: block;
	margin: 0 auto;
	max-width: 90%;
}
html {
	box-sizing: border-box;
}
*,*::before,*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}
/*html.responsive body {
    min-height: 100%;
    height: auto;
    position: relative;
}*/
body,html {
	font-family:TimesNewRoman,"Times New Roman",Times,Georgia,serif;
	max-width:100%;
	color: #424242;
}
html {
	overflow-y: scroll;
	overflow-x: auto;
}
/*main,*/.container, header, nav, footer {
	display: block;
	margin: 0 auto;
	max-width: 600px;
	width: 98%;
}
main,main img,main picture,nav,nav img,nav picture,footer,footer img,footer picture {
	margin-bottom: 0;
	width: 100%;
}
main {
	display: flex;
	flex-direction: column;
	/*min-height: 50vh;*/
	width: 98%;
	margin: 0 auto;
}
.fade {
	-webkit-mask-image:-webkit-linear-gradient(top, #000, transparent)
}
blockquote {
	background: #f9f9f9;
	border-left: 10px solid #eee;
	margin-bottom: 25px;
	padding: .8em 10px;  /* modificado */
	quotes:"“" "”" "‘" "’"
}
blockquote::before {
	color: #ccc;
	content: open-quote;
	font-size: 4em;
	line-height: .1em;
	margin-right: .25em;
	vertical-align: -.4em;
}
blockquote p {
	display: inline;
}
p,li,.highlight,img {
	margin-bottom: 30px;
}
iframe {
	margin-top: 30px;
}
p,li,.next-prev,label,button {
	color: rgba(0,0,0,0.75);
	font-size: calc(16px + 1vmin);
	line-height: 1.5;
}
p .next,li .next,.next-prev .next,label .next,button .next {
	margin-left: auto;
}
p code,li code,.next-prev code,label code,button code {
	font-size: 16px;
}
nav li, .social li {
	list-style: none;
	margin: 0;
}
nav ul {
	list-style-type: none;
	margin-left: 0;
}
ul {
	list-style-type: disc;
	/*padding-left: 40px;*/
	margin-left: 30px;
}
h1,h2,h3 {
	font-family:Baskerville,"Baskerville Old Face","Libre Baskerville","Hoefler Text","Goudy Old Style","Garamond","Times New Roman",serif;
	font-weight: 1000;
}
.first::after {
	content:'\A'
}
h1 {
	border: 0;
	display: block;
	font-size: calc(3.8em + 1vmin);
	margin: calc(70px - 1vmin) 0 12px;
	text-align: center;
}
.me, .me h1 {
	text-decoration: none;
	margin-top: 0;
	padding-top: calc(70px - 1vmin);
}
footer {
	margin-top: 25px;
	padding-bottom: 5px;
}
.icon-stack .fa-cloud {
	font-size: 2em;
	color: lightblue;
	text-shadow: 2px 2px 4px #000000;
}
.icon-stack .fa-wikipedia-w {
	font-size: 1em;
	color: #FFFFFF;
	text-shadow: 2px 2px 4px #000000;
}
h2 {
	font-size: calc(2.6em + 1vmin);
	margin: 50px 0 1.5em;
	text-align: center;
}
h3 {
	font-size: calc(1.5em + 1vmin);
	margin: 50px 0 25px;
}
code {
	background-color: #eee;
	display: inline-block;
	font-family: monospace, monospace;
	padding: 5px;
	white-space: pre-wrap;
	word-wrap: break-word;
}
code:not(.highlighter-rouge) {
	padding: 15px;
	width: 100%;
}
picture {
	display: block;
	margin: 40px 0;
}
.pixel {
	image-rendering: pixelated;
	image-rendering: -moz-crisp-edges;
	image-rendering: crisp-edges;
}
img {
	border: 0;
	display: block;
	margin-bottom: .5em;
	min-height: 1px;
	opacity: 0;
	transition:opacity .3s;
}
img:not(.original) {
	width: 100%;
}
img[src] {
	opacity: 1;
}
a {
	color: #000;
	padding-bottom: 2px;
	transition: .2s;
}
.right {
	float: right;
}
.social {
	display: block;
	margin: 0 auto 50px;
	text-align: center;
	width: 80%;
}
.social li {
	display: inline-block;
	margin-bottom: 10px;
}
.social li:not(:last-child) {
	margin-right:calc(.65em + .35vmin);
}
.social li a i {
	display: inline-block;
	color: #42bf91;
	margin: 0 015px 5px;
	opacity: .6;
	vertical-align: middle;
}
nav {
	font-style:italic;
	margin-bottom: 60px;
}
/*nav .active,nav a:hover {
	border-bottom: 2px solid dodgerblue;
	padding-bottom: 4px;
} disabled to use hover.css*/
nav ul {
	list-style: none;
	max-width: 600px;
	text-align: center;
	padding: 0 0;
}
nav li {
	display: inline-block;
	margin: 20px calc(.65em + .35vmin) 0 0;
}
nav li:last-child {
	margin-right: 0;
}
nav a {
	border: 0;
	font-size: calc(.75em + 1vmin);
	text-decoration: none;
	color: #424242;
  text-align: center;
}
/* mobile menu */
/*@media screen and (max-width: 600px) {
  nav ul li {
    margin-right: 0px;
    margin-top: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    width: 100%;
  }
  nav ul li a {
    display: block;
    text-align: center;
  }
  nav .active, nav a:hover {
  	border: none;
  	padding-bottom: 2px;
  }
  nav ul li:hover {
  	transition: .2s;
  	transition-duration: .5s;
  	background-color: #ADD8E6;
  }
}*/
/* end mobile menu */
/* mobile modal menu */
.mobile-menu, .modalDialog {
	display: none;
	visibility: hidden;
}
.mobile-menu {
	display: block;
	margin: auto 0;
	text-align: center;
	width: 100%;
}
.sticky, .mobile-menu {
	position: sticky;
	position: -webkit-sticky;
	z-index: 1;
	top: 0;
	padding: 0.1em 0;
	background-color: #424242;
}
@media screen and (max-width: 600px) {
header nav {
	display: none;
	visibility: hidden;
}
.mobile-menu, .modalDialog{
	display: block;
	visibility: visible;
}
.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}
.modalDialog:target {
  opacity:1;
  pointer-events: auto;
  animation: animateleft 0.4s;
}
.modalDialog > div {
  width: 90%;
  position: relative;
  margin: 2em auto;
  padding: 1em 0;
  background: #fff;
  /*animation: animateleft 1.4s*/
  animation: none;
}
@keyframes animateleft {
	from {
		left: -300px;
		opacity: 0
	}

	to {
		left: 0;
		opacity: 1
	}
}
.modalDialog h2 {
	color: #2574A8;
	margin: 0;
	font-size: 3em;
}
.modalDialog ul{
	margin-left: 0;
	text-decoration: none;
}
.modalDialog ul li {
	text-decoration: none;
	display: block;
	margin: 0;
}
.modalDialog ul li a {
	text-align: center;
	text-decoration: none;
	width: 100%;
	margin: 10px 0;
	font-size: 2em;
	color: #424242;
}
.close i {
  color: #00d9ff;
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
}
}
/* end mobile modal menu */
/* go to top button */
.btn-gotop {
  display: block;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: rgba(173, 216, 230, 0.5);/*#ADD8E6*/
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 50px;
}
.btn-gotop:hover {
	background-color: rgba(173, 216, 230, 1);
}
@media screen and (max-width: 600px) {
	.btn-gotop {
		width: inherit;
	}
}
/* end go to top button */
.blog a {
	text-decoration: none;
}
.blog a:hover {
	border-bottom: 2px solid #666;
	padding-bottom: 4px;
}
.blog .post {
	font-size: calc(.9em + 1vmin);
}
.blog .date {
	display:block;
	font-size: calc(0.75em + 1vmin);
}
.blog-posts {
	margin: -5px 0 20px;
}
.blog-posts li {
	border-radius: 4px;
	border: 1px solid #ccc;
	display: inline-block;
	font-size: calc(.75em + 1vmin);
	margin-right: 10px;
	min-width: 20%;
	padding: 3px 5px;
	text-align: center;
}
.next-prev {
	align-content: stretch;
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
}
.next-prev {
	margin: 60px 0 0;
}
input,select,textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	border-radius: none;
	border: 1px solid #ccc;
	box-sizing: border-box;
	display: block;
	font-family: TimesNewRoman,"Times New Roman",Times,Georgia,serif;
	font-size: calc(16px + 1vmin);
	height: 7vh;
	outline: none;
	padding: 10px;
	width: 100%;
}
textarea {
	height: 20vh;
}
button {
	background: #fff;
	border: 1px solid #ccc;
	font-family: TimesNewRoman,"Times New Roman",Times,Georgia,serif;
	height: 7vh;
	transition: .2s;
	width: 100%;
}
button:hover {
	background: #000;
	border-color: #000;
	color: #fff;
	cursor: pointer;
}
.grid {
	align-items: center;
	align-self: center;
	display: grid;
	grid-auto-flow: dense;
	grid-auto-rows: 30%;
	grid-gap: 1%;
	grid-template-columns: repeat(3, 1fr);
	justify-items: center;
	left: 50%;
	margin: 50px 0;
	position: relative;
	transform: translateX(-50%);
	width: 75vw;
}
.grid img {
	margin-bottom: 10px;
	max-width: 100%;
}
/*** novo CSS ***/
.color {
	color: #DDDDDD;
	box-shadow: inset 0 3px 30px rgba(0,0,0,0.3);
	text-shadow: 0 1px 3px rgba(0,0,0,0.5);
}
.header {
	background-color: #2B2B2B;
}
.body {
	background-color: #333333;
}
.footer {
	background-color: #212121;
}
article {
  margin: 10px 0;
  border-radius: 10px;
  background-color: #f1f1f1;
  padding: 10px;
}
hr {
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  margin: 10px 0;
}
/*** myblog ***/
.card-box { /*some props from grid*/
	align-items: center;
	margin: 10px auto;
	position: relative;
	width: 55vw; /*75vw*/
}
.card { /*row*/
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  margin: 20px 0;
  /*prop from column
  float: left;
  width: 50%;*/
}
.card-thumbnail {
  float: left;
  width: 30%;
  padding: 5px;
  position: relative;
}
.card-post {
  float: left;
  width: 70%;
  padding: 10px;
  word-break: break-word;
}
.card-post h3 {
	margin: 0;
	padding-bottom: 2px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.col-33 {
  float: left;
  width: 33.33%;
}
@media only screen and (max-width: 600px) {
	.card-box {
		width: 100%;
	}
	.card-thumbnail, .card-post {
		width: 100%;
	}
}
/*** end myblog ***/
/*** reverse color & layer ***/
.invert {
	 -webkit-filter: invert(1);
	 filter: invert(1);
	 z-index: 0;
}
p {
	position: relative;
}
.layer {
  z-index: 1;
  width: 100%;
  height: 100%;
  left: 0;
  position: absolute;
}
/*** end reverse color & layer ***/
/*** icon stack ***/
.icon-stack {
	position: relative;
	display: inline-block;
	width: 2em;
	height: 2em;
	line-height: 2em;
	vertical-align: middle;
}
.icon-stack-1x,
.icon-stack-2x,
.icon-stack-3x {
	position: absolute;
	left: 0;
	width: 100%;
	text-align: center;
}
.icon-stack-1x {
	line-height: inherit;
}
.icon-stack-2x {
	font-size: 1.5em;
}
.icon-stack-3x {
	font-size: 2em;
}
/*** end icon stack ***/
/*** tags ***/
.tag {
	text-decoration: none;
  display: inline-block;
  background: rgba(106,159,181,0.15);
  padding: 0 .5rem;
  margin-right: .5rem;
  border-radius: 4px;
  color: #6a9fb5;
  font-family: "PT Sans",Helvetica,Arial,sans-serif;
  font-size: 90%;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.tag:before {
  content: "\f02b";
  font-family: FontAwesome;
  padding-right: .5em;
}
.tag:hover {
  text-decoration: none;
  background: #6a9fb5;
  color: #fff;
}
.tags-archives .tags-archive-list {
	font-size: 0.9rem;
}
.archive-item {
  font-family: "PT Sans",Helvetica,Arial,sans-serif;
}
.post-meta {
	margin-bottom: 2em;
}
/*** end tags ***/
/*** terminal ***/
.code { /*div*/
  display: block;
  padding: 0;
  font-family: Menlo, Consolas, "Courier New", Courier, "Liberation Mono", monospace;
  line-height: 1.3em;
}
.code .title { /*p*/
  display: block;
  text-align: center;
  margin: 0 20px;
  padding: 5px 0;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  -webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 3px 10px rgba(0,0,0,0.5);
  box-shadow: 0 3px 10px rgba(0,0,0,0.5);
  font: 400 16px/24px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #444;
  text-shadow: 0 1px 0 rgba(255,255,255,0.5);
  background-color: #f7f7f7;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…IgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), color-stop(7%, #cfcfcf), to(#aaa));
  background-image: -webkit-linear-gradient(top, #f7f7f7 0%, #cfcfcf 7%, #aaa 100%);
  background-image: -moz-linear-gradient(top, #f7f7f7 0%, #cfcfcf 7%, #aaa 100%);
  background-image: -o-linear-gradient(top, #f7f7f7 0%, #cfcfcf 7%, #aaa 100%);
  background-image: linear-gradient(top, #f7f7f7 0%, #cfcfcf 7%, #aaa 100%);
  border-bottom: 1px solid #111;
}
.code .shell { /*div*/
  padding: 20px;
  text-shadow: none;
  margin: 0 20px;
  background-color: #171717;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  -webkit-box-shadow: 0 5px 30px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 5px 30px rgba(0,0,0,0.3);
  box-shadow: 0 5px 30px rgba(0,0,0,0.3);
}
.code .line { /*p*/
  display: block;
  margin: 0;
  padding: 0;
  line-height: 1.5em;
}
/*** end terminal ***/
/*** mobile ***/
@media only screen and (max-width: 600px) {
 .right,.prev,.next {
  float: none;
 }
 .prev span,.next span {
  display: none;
 }
 .prev::after {
  content:'« Prev'
 }
 .next::after {
  content:'Next »'
 }
}
@media only screen and (max-width: 600px) {
 .grid {
	grid-template-columns:repeat(auto-fill, 100%);
	width: 98vw;
 }
}
/* Syntax highlighting styles */
.highlight .hll {
  background-color: #ffffcc;
}
.highlight {
  background: #f8f8f8;
}
.highlight .c {
  color: #408080;
}
.highlight .err {
  border: 1px solid #FF0000;
}
.highlight .k {
  color: #008000;
}
.highlight .o {
  color: #666666;
}
.highlight .ch {
  color: #408080;
}
.highlight .cm {
  color: #408080;
}
.highlight .cp {
  color: #BC7A00;
}
.highlight .cpf {
  color: #408080;
}
.highlight .c1 {
  color: #408080;
}
.highlight .cs {
  color: #408080;
}
.highlight .gd {
  color: #A00000;
}
.highlight .gr {
  color: #FF0000;
}
.highlight .gh {
  color: #000080;
}
.highlight .gi {
  color: #00A000;
}
.highlight .go {
  color: #888888;
}
.highlight .gp {
  color: #000080;
}
.highlight .gu {
  color: #800080;
}
.highlight .gt {
  color: #0044DD;
}
.highlight .kc {
  color: #008000;
}
.highlight .kd {
  color: #008000;
}
.highlight .kn {
  color: #008000;
}
.highlight .kp {
  color: #008000;
}
.highlight .kr {
  color: #008000;
}
.highlight .kt {
  color: #B00040;
}
.highlight .m {
  color: #666666;
}
.highlight .s {
  color: #BA2121;
}
.highlight .na {
  color: #7D9029;
}
.highlight .nb {
  color: #008000;
}
.highlight .nc {
  color: #0000FF;
}
.highlight .no {
  color: #880000;
}
.highlight .nd {
  color: #AA22FF;
}
.highlight .ni {
  color: #999999;
}
.highlight .ne {
  color: #D2413A;
}
.highlight .nf {
  color: #0000FF;
}
.highlight .nl {
  color: #A0A000;
}
.highlight .nn {
  color: #0000FF;
}
.highlight .nt {
  color: #008000;
}
.highlight .nv {
  color: #19177C;
}
.highlight .ow {
  color: #AA22FF;
}
.highlight .w {
  color: #bbbbbb;
}
.highlight .mb {
  color: #666666;
}
.highlight .mf {
  color: #666666;
}
.highlight .mh {
  color: #666666;
}
.highlight .mi {
  color: #666666;
}
.highlight .mo {
  color: #666666;
}
.highlight .sa {
  color: #BA2121;
}
.highlight .sb {
  color: #BA2121;
}
.highlight .sc {
  color: #BA2121;
}
.highlight .dl {
  color: #BA2121;
}
.highlight .sd {
  color: #BA2121;
}
.highlight .s2 {
  color: #BA2121;
}
.highlight .se {
  color: #BB6622;
}
.highlight .sh {
  color: #BA2121;
}
.highlight .si {
  color: #BB6688;
}
.highlight .sx {
  color: #008000;
}
.highlight .sr {
  color: #BB6688;
}
.highlight .s1 {
  color: #BA2121;
}
.highlight .ss {
  color: #19177C;
}
.highlight .bp {
  color: #008000;
}
.highlight .fm {
  color: #0000FF;
}
.highlight .vc {
  color: #19177C;
}
.highlight .vg {
  color: #19177C;
}
.highlight .vi {
  color: #19177C;
}
.highlight .vm {
  color: #19177C;
}
.highlight .il {
  color: #666666;
}