		<!-- mobile modal menu -->
		<div class="mobile-menu">
			<a href="#openModal">
				<i class="fa fa-2x fa-bars" style="color: #FFFFFF;"></i>
			</a>
		</div>
		<div id="openModal" class="modalDialog">
    	<div class="animate-left">
    		<a href="#close" title="Close" class="close">
    			<i class="fa fa-3x fa-times-circle"></i>
    		</a>
		    <h2>Menu</h2>
				<ul>
					<li>
						<a class="inactive hvr-underline-from-center" href="/blog/">Blog</a>
					</li>
					<li>
						<a class="inactive hvr-underline-from-center" href="/art/">Art</a>
					</li>
					<li>
						<a class="inactive hvr-underline-from-center" href="/projects/">Projetos</a>
					</li>
					<li>
						<a class="inactive hvr-underline-from-center" href="/contact/">Contato</a>
					</li>
				</ul>
		  </div>
		</div>
		<!-- end mobile modal menu -->