---
layout: compress
---
<!DOCTYPE html>
<html lang="pt-br">
	{%- include head.html -%}
	<body>
		{%- include header.html -%}
		{% include mobile-modal-menu.html %}
			<main>
				{{ content }}
			</main>
		{% include gotop.html %}
		{%- include footer.html -%}
	</body>
</html>