---
layout: default
---
<div class="container">
	<blockquote>
		<p>Um espaço para compartilhar minhas idéias.</p>
	</blockquote>
	<p>
		<img class="layer" alt="eu" src="/img/cover.png">
		<img class="invert" {% include encode.html %} >
	</p>
</div>