---
layout: default
---
<div class="container">
<article>
  <h3 class="post-title">{{ page.title | escape }}</h3>
  <div class="post-date post-meta">
    <time>
      <i class="fa fa-calendar"></i>&nbsp;
      {{ page.date | date: "%Y %b %-d " }}
    </time>
    <span>&nbsp;|&nbsp;tags:&nbsp;</span>
    <span class="post-tags">
      {% if post %}
        {% assign tags = post.tags %}
      {% else %}
        {% assign tags = page.tags %}
      {% endif %}
      {% for tag in tags %}
      <a class="tag" href="{{ site.baseurl }}/blog/tag/#{{ tag | slugify }}">{{ tag }}</a>
      {% unless forloop.last %}{% endunless %}
      {% endfor %}
    </span>

    {%- if page.author -%}
      <p>• <span> {{ page.author }} </span></p>
    {%- endif -%}
  </div>

  <!-- conteudo -->
  {{ content }}
  <!-- end conteudo -->
</article>

<article>
  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}
</article>
</div>